<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="/images/folder.png">
    <title>Share Deck</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex flex-col ">
        <% if(locals.error ) { %>
            <div class=" text-red-700 px-4 py-3 relative" role="alert">
                <strong class="font-bold">Incorrect Password</strong>
                <span class="block sm:inline">Try again</span>
           
              </div>
            <% } %>

            <div class="bg-[#eff5fe] h-screen flex justify-center items-center p-2 md:p-10 ">
                <div class="bg-white p-4 md:p-10 rounded-md w-30 md:w-1/2 shadow-2xl">
                <form class="border-dashed border-2 border-sky-500 rounded-md  p-10" method="post">

                    <!-- <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required> -->
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                    <input name="password" type="password" id="password" class="bg-gray-50 border border-blue-700 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 d" placeholder="•••••••••" required>

                    <button class="bg-transparent hover:bg-blue-500 text-blue-700  hover:text-white py-1 md:py-2 px-1 md:px-4 border border-blue-500 hover:border-transparent rounded mt-5 md:mt-10" type="submit"> Download</button>
                </form>

                
                
                <div class=" flex item-center justify-center font-light text-[#4294FF] text-sm md:text-2xl mt-5 ">
                       
                    Made by&nbsp;  <a target="_blank" class="underline font-semibold hover:text-blue-700" href="https://www.omkargurav.codes/">Omkar Gurav</a> &nbsp;|&nbsp; <a target="_blank" class="underline font-semibold  hover:text-blue-700" href="https://github.com/omkarguravv/Share-Deck">Github</a>
                </div>
            </div>
            </div>

               
    </div>
</body>

</html>